:root {
    --SideMenueBgColor:#10102C;
    --ContentBgColor: #495274;
    --textColor : #ffffff;
    --link-color:#10102C;
    --link-section:#26264b9f;
    --code-cyan:rgb(19, 192, 192);
    --code-yellow:rgb(210, 191, 20);
  }

  

