.heading {
    font-size: 35px;
    font-weight: 700;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 21px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
  }
  h2 {
    font-size: 19px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  p {
    line-height: 1.6;
    font-size: 15px;
    background-color: rgb(245, 235, 235);
    padding: 0 20px 0 20px;
  }